################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorApplication.Api
/Blazor.Models/bin/Debug/netstandard2.0
/Blazor.Models/obj
/BlazorApp/bin/Debug/netcoreapp3.1
/BlazorApplication.Api/bin/Debug/netcoreapp3.1
/BlazorApplication.Api/Migrations
/BlazorApplication.Api/obj
